@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Tagesschrift&display=swap');
@import "tailwindcss";


*{
font-family: outfit;
}
select,input,textarea{
    border:1px solid #c2c2c2;
    outline-color: #5d6ed3
}
.active{
    background-color: #e9ebfc;
    border-color: #5d6ed3;
}